// common size
$ui-content-header-font-size: 11px;

$sidebar-size: 300px;
$headline-font-size: 11px;
$content-font-size: 11px;
$link-font-size: 12px;




//------------ theme 2 - Leads Theme (Blue) -----------------

// submenu
$sidebar-submenu-hover-color: #e1e0df;
$sidebar-menu-title-color: #fff;
$sidebar-submenu-title-color: #ffff;
$sidebar-submenu-start-space: 20px;
$sidebar-menu-title-background: #2065a1;
$primary-color-sidebar: #20538c;


// main component
$primary-color-workspace: #F3F2F1;    // workspace panel
$primary-color-main: #2065a1;           // background
$primary-color-foreground: #20538c;     // foreground
$primary-color-selected: #000000;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border
$primary-color-title-text: #353433;     // title

$primary-color-field-label: #666666;
$primary-color-field-background: #FAFAFA;
$primary-color-field-set-label: #343434;
$primary-color-title-line: #123F62;   // header label line

$primary-color-btn-text: #FFFFFF; // btn text
$primary-color-btn-success: #123F62;
$primary-color-btn-success-hover: #12466b;
$primary-color-btn-success-border: #123F62;


// instruction text
$primary-color-instruction-text: #666666;


// tab-table
$primary-color-tab-table-title-background: #f0f1ef;
$primary-color-tab-table-title-color:#000000;

//input field

// input-field
$primary-color-input-field: #2A2A2A;
//-------------------------------------------







// Button Pack
//$primary-color-btn-text: #000000; // btn text
$primary-color-btn-default: #d2d1d0;
$primary-color-btn-default-hover: #c6c5c4;
$primary-color-btn-default-border: #1a639e;

















/*

// theme 1 -
$primary-color-main: #3c6382;           // background
$primary-color-foreground: #0a3d62;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border

*/

/*

// theme 1 -
$primary-color-main: #2065a1;           // background
$primary-color-foreground: #20538c;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border


*/


