// common size
$ui-content-header-font-size: 11px;

$sidebar-size: 300px;
$headline-font-size: 11px;
$content-font-size: 11px;
$link-font-size: 12px;


//----------color pack-----------//
$background: #0077D3;
$foreground: #0056a5;
$workspace: #F3F2F1;

$default-text: #ffffff;
$selected-text: #000000;
$headline-color:#353433;

$default-hover: #efeeed; // hover shade on link
$default-border:#7db5f5;
$default-label: $headline-color;
$default-line: #123F62;
//-----------------------------//


//------------ theme 2 - Leads Theme (Blue) -----------------

// submenu
$sidebar-menu-title-color: $default-text;
$sidebar-menu-title-background: $background;

$sidebar-submenu-start-space: 20px;
$sidebar-submenu-hover-color: $default-hover;
$sidebar-submenu-title-color: $default-text;
$primary-color-sidebar: $foreground;

// main component
$primary-color-workspace: $workspace;
$primary-color-main: $background;
$primary-color-foreground: $foreground;
$primary-color-selected: $selected-text;
$primary-color-text: $default-text;
$primary-color-border: $default-border;
$primary-color-title-text: $headline-color;

$primary-color-field-label: $default-label;
$primary-color-field-background: $default-text;
$primary-color-field-set-label: $default-label;
$primary-color-title-line: $default-line; // header label line


// instruction text
$primary-color-instruction-text: $headline-color;

// tab-table
$primary-color-tab-table-title-background: $default-hover;
$primary-color-tab-table-title-color: $headline-color;

//logo background
$primary-color-app-logo-background: $background;

// input-field
$primary-color-input-field: $selected-text;
//-------------------------------------------





//button pack
$primary-color-btn-text: $default-text;

$success-hover: #1c497c;

$primary-color-btn-success: $foreground;
$primary-color-btn-success-hover: $success-hover;
$primary-color-btn-success-border: $default-border;




