
<!-- <h1> Selected Template View Page </h1> -->


{{!log model.appPanelCode}}



<!--todo  future appPanelCode needed tobe automatically mapped  based on configuration-->
{{#if (eq model.appPanelCode 'operation') }}

  {{nges-elements/common-menu-landing-page
    routeInformation = model
  }}

{{/if}}






{{!nges-engines/olm/object-to-string model.templateInformation}}

{{nges-base/content-viewer
  serviceInformation=model
}}


