


<!--todo  future appPanelCode needed tobe automatically mapped  based on configuration-->
{{#if (eq model.appPanelCode 'operation') }}

  {{nges-elements/common-menu-landing-page
    routeInformation = model
  }}

{{/if}}




{{nges-base/content-viewer
  serviceInformation=model

}}

<!-- <h1>Template Detail View page</h1> -->
