// common size
$ui-content-header-font-size: 11px;

$sidebar-size: 300px;
$headline-font-size: 11px;
$content-font-size: 11px;
$link-font-size: 12px;



//------------ theme 3 - Clouds Theme (White/Outlook) -----------------

// submenu
$sidebar-submenu-hover-color: #e1e0df;
$sidebar-menu-title-color: #5B5A58;
$sidebar-submenu-title-color: #5B5A58;
$sidebar-submenu-start-space: 20px;


// theme 1 - Light Mode
$primary-color-workspace: #F3F2F1;    // workspace panel
$primary-color-main: #ebeae9; // background
$primary-color-foreground: #f5f4f3; // foreground
$primary-color-selected: #2c9bf1; // active
$primary-color-text: #323130; // font
$primary-color-hover: #373b42; // hover
$primary-color-border: #2c9bf1; // border
$primary-color-title-text: #353433; // title


$primary-color-field-label: #666666;
$primary-color-field-background: #FAFAFA;
$primary-color-field-set-label: #343434;
$primary-color-title-line: #123F62;   // header label line


$primary-color-btn-text: #FFFFFF; // btn text
$primary-color-btn-success: #123F62;
$primary-color-btn-success-hover: #12466b;
$primary-color-btn-success-border: #123F62;


// instruction text
$primary-color-instruction-text: #666666;


// tab-table
$primary-color-tab-table-title-background: #f0f1ef;
//-------------------------------------------













// Button Pack
//$primary-color-btn-text: #000000; // btn text
$primary-color-btn-default: #d2d1d0;
$primary-color-btn-default-hover: #c6c5c4;
$primary-color-btn-default-border: #1a639e;

















/*

// theme 1 -
$primary-color-main: #3c6382;           // background
$primary-color-foreground: #0a3d62;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border

*/

/*

// theme 1 -
$primary-color-main: #2065a1;           // background
$primary-color-foreground: #20538c;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border


*/


