// size
$ui-content-header-font-size: 11px;
$sidebar-size: 300px;


/*

:root {
  --default: #3F4148;
  --foreground: #2f3239;
  --selected: #7db5f5;
  --text: #fff;
  --hover: #373b42;
  --border: #7db5f5;
}

// theme 1 - Dark Mode
$primary-color-main: var(--default); // background
$primary-color-foreground: var(--foreground); // foreground
$primary-color-selected: var(--selected); // active
$primary-color-text: var(--text); // font
$primary-color-hover: var(--hover); // hover
$primary-color-border: var(--border); // border

 
*/





:root {
  --default: #ebeae9;
  --foreground: #f5f4f3;
  --selected: #1a639e;
  --text: #323130;
  --hover: #373b42;
  --border: #7db5f5;
  --title-text:#353433;
  --btn-default: #d2d1d0
}

// theme 1 - Light Mode
$primary-color-main: var(--default); // background
$primary-color-foreground: var(--foreground); // foreground
$primary-color-selected: var(--selected); // active
$primary-color-text: var(--text); // font
$primary-color-hover: var(--hover); // hover
$primary-color-border: var(--border); // border
$primary-color-title-text: var(--title-text); // border
$primary-color-btn-default: var(--btn-default); // btn body














/*

// theme 1 -
$primary-color-main: #3c6382;           // background
$primary-color-foreground: #0a3d62;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border

*/

/*

// theme 1 -
$primary-color-main: #2065a1;           // background
$primary-color-foreground: #20538c;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border


*/


