


// size
$ui-content-header-font-size: 11px;
$sidebar-size: 300px;





// theme 1 - Dark Mode
$primary-color-main: #373b42;           // background
$primary-color-foreground: #2f3239;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border




/*

// theme 1 - Dark Mode
$primary-color-main: #3c6382;           // background
$primary-color-foreground: #0a3d62;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border

*/


/*

// theme 1 - Dark Mode
$primary-color-main: #2065a1;           // background
$primary-color-foreground: #20538c;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border


*/

