
.nges-button {
  position: relative;
  display: inline-block;
  padding: 2px;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  line-height: 1.275rem;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: .75rem;
  white-space: nowrap;
  position: relative;
}


.nges-button-success {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  background-color: $primary-color-btn-default;
  border-color: $primary-color-selected;
  -webkit-transition: border 0.15s linear;
  transition: border 0.15s linear;
  color: $primary-color-text;
}

.nges-button-success:hover {
  background-color: $primary-color-btn-default;
  border-color: $primary-color-selected;
  color: $primary-color-selected;
  cursor: pointer;
}
