.olm-hr-line {
  margin-top: -3px;
  border: 1.2px solid #123F62;
  opacity: 0.5;
}


.form-group {
  position: relative;
  min-width: 0;
}


.form-control {
  clear: left;
  position: relative;
}

.has-search .input-field {
  padding-left: 4.275rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.muliti-select-item {
  padding: 0.25rem 0.25rem;
  color: #3e3e3c;
  font-size: .75rem;
  white-space: nowrap;
}

.table-all {
  background-color: #fff;
  font-size: inherit;
  width: 100%;
  border-color: grey;
}

.line-height-reset {
  line-height: 1;
}

.table-all thead th {
  padding: 6px 6px 6px 12px;
  background-color: #FEFEFE;
  color: #383736;
  font-size: 12px;
  font-weight: bolder;
  line-height: normal;

  border-collapse: separate;
  border-top: 1px solid #EDEEEF;
  border-bottom: 1px solid #EDEEEF;
}

.table-all td {
  padding: 6px 6px 6px 12px;
  color: #3e3e3c;
  font-size: 12px;
  white-space: nowrap;
  position: relative;
  line-height: normal;
}

.table-bordered {
  border-collapse: separate;
  border-top: 1px solid #dddbda;
  border-bottom: 1px solid #dddbda;
}

.table-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

