
.layout-title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.825rem;
  font-weight: 400;
  color: #123F62;
  display: block;
}



.olm-hr-line {
  margin-top: -3px;
  border: 1.2px solid #123F62;
  opacity: 0.5;
}


.olm-button-all {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  line-height: 1.275rem;
  text-decoration: none;
  //color: #0070d2;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: .75rem;
  white-space: nowrap;
  position: relative;
}

.olm-button-save {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  background-color: #123F62;
  border-color: #123F62;
  -webkit-transition: border 0.15s linear;
  transition: border 0.15s linear;
  color: #E8F0FE;
}

.olm-button-save:hover {
  background-color: #12466b;
  border-color: #12466b;
  color: #fff;
  cursor: pointer;
}

.button-danger {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #c23934;
  -webkit-transition: border 0.15s linear;
  transition: border 0.15s linear;
  background-color: #c23934;
  color: #fff;
}

.button-danger:hover {
  background-color: #a61a14;
  border-color: #a61a14;
  color: #fff;
  cursor: pointer;
}

.olm-button-edit {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dddbda;
  -webkit-transition: border 0.15s linear;
  transition: border 0.15s linear;
  border-color: #dddbda;
  background-color: #fff;
  border-color: #0070d2;
}

.olm-button-edit:hover {
  background-color: #f4f6f9;
  border-color: #0070d2;
  color: #000;
  cursor: pointer;
}

.button-logout {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dddbda;
  -webkit-transition: border 0.15s linear;
  transition: border 0.15s linear;
  background-color: #fff;
  color: #c23934;
}

.button-logout:hover {
  background-color: #f4f6f9;
  color: #a12b2b;
  cursor: pointer;
}

.form-group {
  position: relative;
  min-width: 0;
}

.input-field-label {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: #666666;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0 1rem 0 .75rem;
  margin-bottom: .125rem;
}

.input-field {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1.1px solid #747474;
  width: 100%;
  -webkit-transition: border .1s linear, background-color .1s linear;
  transition: border .1s linear, background-color .1s linear;
  display: inline-block;
  padding: 0 1rem 0 .75rem;
  font-size: .75rem;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
  margin-bottom: .125rem;
  background: #FAFAFA;
}

.input-field:focus {
  outline: none;
  border-bottom: 1.5px solid rgba(81, 203, 238, 1);
}

.form-control {
  clear: left;
  position: relative;
}

.has-search .input-field {
  padding-left: 4.275rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.muliti-select-item {
  padding: 0.25rem 0.25rem;
  color: #3e3e3c;
  font-size: .75rem;
  white-space: nowrap;
}

.table-all {
  background-color: #fff;
  font-size: inherit;
  width: 100%;
  border-color: grey;
}

.line-height-reset {
  line-height: 1;
}

.table-all thead th {
  background-color: #FEFEFE;
  color: #666666;
  font-size: .75rem;
  font-weight: bolder;
  //padding: 0.25rem 0.25rem;
  //padding-left: .30rem;
  padding-right: 1.80rem;
  line-height: normal;

  border-collapse: separate;
  border-top: 1px solid #EDEEEF;
  border-bottom: 1px solid #EDEEEF;
}

.table-all td {
  padding: 0.25rem 0.25rem;
  color: #3e3e3c;
  font-size: .75rem;
  white-space: nowrap;
  position: relative;
  line-height: normal;
}

.table-bordered {
  border-collapse: separate;
  border-top: 1px solid #dddbda;
  border-bottom: 1px solid #dddbda;
}

.table-data {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

