<style>
  .width {
    width: 400px;
  }
</style>
<div class="container width" style="margin-top: 8%; padding-left: 0; padding-right: 0; background: #e0e0e0">

  <div class="card">
    <div class="card-body">
      <form class="form-signin">
        <h2 class="layout-header-title">Update Password</h2>

        <h4 style="color:red; font-size:12px;">{{errorMsg}}</h4>

        <label for="inputPassword" class="input-field-label">New Password</label>
        <div class="form-group">
          {{input type="password" id="inputPassword" class="input-field" placeholder="Enter New Password"
                  value=newPassword}}
        </div>


        <label for="inputRePassword" class="input-field-label">Re-Type Password</label>
        <div class="form-group">
          {{input type="password" id="inputRePassword" class="input-field" placeholder="Re-Type Password"
                  value=rePassword}}
        </div>

        <div class="form-check">
          <label class="form-check-label input-field-label">
            <input type="checkbox" class="form-check-input" onclick="myFunction()" style="margin-top: 2px;">Show
            Password
          </label>
        </div>


        {{#if passNotMatched}}
          <h2 style="font-size: 13px;">Password Not Matched</h2>
        {{/if}}




        <script>
          function myFunction() {
            var x = document.getElementById("inputPassword");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
        </script>

        <button class="nges-button nges-button-success float-right"  {{action 'updatePassword' newPassword rePassword}}>Save</button>
        <br>
      </form>
    </div>
  </div>


</div>