<li>
  <a href="#pageSubmenu-rule-management" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle dropdown-toggle-header">
    Rule Management </a>
  <hr style="margin-top: 1px; margin-bottom: 0px; background: #d3d3d3;">
  <ul class="list-unstyled collapse" id="pageSubmenu-rule-management">

    <li>

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'atomic-rule' class="nav-link" }}
        Atomic Rule{{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'unit-rule' class="nav-link" }}
       Unit/Regular Rule{{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'step-rule' class="nav-link" }}
        Step Rule{{/link-to}}

    </li>
  </ul>
</li>





