<style>

  /* .app-base-logo {
     background-image: url({{appLogo}});
    background-size: 75% 90%;
    background-repeat: no-repeat;
    margin: 5px;
    width: 150px;
    height: 39px;
    !*background-position: center;*! !* Center the image *!
    !*background-size: cover;*! !* Resize the background image to cover the entire container *!
  }*/

</style>

<!--<div class="app-base-logo"></div>-->


<img src="/nges-remitter.png" class="app-base-logo">