<li style="padding-left: 5px; padding-top: 5px">
  <a href="#pageSubmenu-tree-engine" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> Tree Engine</a>
  <ul class="list-unstyled collapse show" id="pageSubmenu-tree-engine">

    <li>

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'tree-engine' 'data-context-to-olm-object-assignment' class="nav-link" }}
        Data Context {{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'tree-engine' 'menu-item-to-olm-object-assignment' class="nav-link" }}
        Menu Setup {{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'tree-engine' 'tree-engine-registration' class="nav-link" }}
        Registration {{/link-to}}

    </li>
  </ul>
</li>