

<li>
  <a href="#pageSubmenu_user_administration" data-toggle="collapse" aria-expanded="true"
     class="dropdown-toggle dropdown-toggle-header">User Administration</a>
  <hr style="margin-top: 1px; margin-bottom: 0px; background: #d3d3d3;">
  <ul class="list-unstyled collapse" id="pageSubmenu_user_administration">

    <li>

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'auth-engine' 'role-creation' class="nav-link"}}
        User Roles {{/link-to}}



      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'auth-engine' 'user-creation' class="nav-link" }}
        User Profiles {{/link-to}}


      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'auth-engine' 'language-settings' class="nav-link" }}
        User Language {{/link-to}}


      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'tree-engine' 'tree-engine-registration' class="nav-link" }}
           User Functions & Location {{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'tree-engine' 'data-context-to-olm-object-assignment' class="nav-link" }}
        User Exception Permission {{/link-to}}

    </li>

    <!-- <li style="padding-left: 5px; padding-top: 5px">
       <a href="#pageSubmenu-sub-user-administration" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> User Administration </a>
       <ul class="list-unstyled collapse show" id="pageSubmenu-sub-user-administration">


       </ul>
     </li>-->

  </ul>
</li>