<style>


  .width {
    width: 350px;
  }

  .width-400 input {
    margin-top: 10px;
  }

  .login-box {
    box-shadow: 0 0 10px -1px #8c8c8c;
    margin-top: 100px;
    /* padding: 50 px;*/
  }

</style>

<div class="container width login-box" style="padding-left: 0; padding-right: 0; background: #F4F4F4">
  <div class="login-logo-bg">
    <center>
      <img src="/nges-remitter.png" style="max-height: 15%;max-width: 65%; padding: 15px">
    </center>
  </div>
  <form class="form-signin">
    <br>

    <div style="padding: 20px;margin-top: -4%">
      <div class="row">

        <div class="col-md-6" style="float: right;">
          {{#if isLoadingIconVisible}}
            <img src="/loading-icon.gif" style="height: 35px;width: 35px;float: right;margin-top: -10px;">
          {{/if}}
        </div>
      </div>

      <hr style="margin-top: -4%;">

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="menuItems" class="input-field-label">Organization</label>
          </div>

          <div class="col-md-9">
            {{nges-core/nges-searchable-dropdown
              dataList=orgList
              message = "Select Organization"
              autocompleteOnSelect=(action 'onChangeOrganization')
            }}
          </div>

        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="menuItems" class="input-field-label">Application</label>
          </div>

          <div class="col-md-9">
            {{nges-core/nges-searchable-dropdown
              dataList=appList
              message = "Select Application"
              autocompleteOnSelect=(action 'onChangeApplication')
            }}
          </div>

        </div>
        <button class="nges-button nges-button-success float-right"
                style="margin-top: 6px; width: 100%; height: 33px;" {{action
          "loadApplication"}}>
          Load Application
        </button>
        <br>
      </div>


    </div>

    {{!--  <a href="http://localhost:4400" target="_blank" class="btn btn-lg btn-warning btn-block"> Auth Server </a> --}}
  </form>
</div>

