<li>
  <a href="#pageSubmenu-sub-system-administration" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle dropdown-toggle-header">
    Business Process Management </a>
  <hr style="margin-top: 1px; margin-bottom: 0px; background: #d3d3d3;">
  <ul class="list-unstyled collapse show" id="pageSubmenu-sub-system-administration">

    <li>

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'object-state' class="nav-link" }}
        OLM State{{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'action-event' class="nav-link" }}
        Action Event{{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'diagram-tool' class="nav-link" }}
        OLM Diagram{{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' menuCode 'menu-item-to-olm-object-assignment' class="nav-link" }}
        Menu Mapping{{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode 'service-holder' 'pe' 'property-extender' class="nav-link" }}
        Property Extender{{/link-to}}

    </li>
  </ul>
</li>









{{!--


<li>
  <a href="#pageSubmenu_system_administration" data-toggle="collapse" aria-expanded="true"
     class="dropdown-toggle">System Administration</a>
  <ul class="list-unstyled collapse show" id="pageSubmenu_system_administration">




    <li style="padding-left: 5px; padding-top: 5px">
      <a href="#pageSubmenu-sub-system-administration" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> Business Process Management </a>
      <ul class="list-unstyled collapse show" id="pageSubmenu-sub-system-administration">

        <li>

          {{#link-to
  'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
  moduleCode 'serviceHolderCode' menuCode 'object-state' class="nav-link" }}
            OLM State {{/link-to}}

  {{#link-to
    'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
    moduleCode 'serviceHolderCode' menuCode 'action-event' class="nav-link" }}
            Action Event {{/link-to}}

  {{#link-to
    'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
    moduleCode 'serviceHolderCode' menuCode 'diagram-tool' class="nav-link" }}
            OLM Diagram {{/link-to}}

  {{#link-to
    'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
    moduleCode 'serviceHolderCode' menuCode 'menu-item-to-olm-object-assignment' class="nav-link" }}
            Menu Mapping {{/link-to}}

        </li>
      </ul>
    </li>

  </ul>
</li>



--}}








{{!--

<li style="padding-left: 5px; padding-top: 5px">
  <a href="#pageSubmenu-olm" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> OLM
    Engine</a>
  <ul class="list-unstyled collapse show" id="pageSubmenu-olm">

    <li>
      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode serviceHolderCode menuCode 'object-state' class="nav-link" }}
        OLM State {{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode serviceHolderCode menuCode 'action-event' class="nav-link" }}
        Action Event {{/link-to}}

      {{#link-to
        'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
        moduleCode serviceHolderCode menuCode 'diagram-tool' class="nav-link" }}
        OLM Diagram {{/link-to}}
    </li>
  </ul>
</li>

--}}