{{yield}}

<style>
  #legend {
    width: 300px;
    height: 100px;
  }
</style>
<div id="pi-area">
  <div class="row">
    <div class="col-md-6">
      <label class="input-field-label"><input type="radio" name="dataset" value="apples" checked> Service 1</label>
    </div>
    <div class="col-md-6">
      <label class="input-field-label"><input type="radio" name="dataset" value="oranges"> Service 2</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div id="pi-chart"></div>
    </div>
    <div class="col-md-3">
      <svg id="legend"></svg>
    </div>
  </div>
</div>
