{{yield}}

<svg>

</svg>

<div id="chart-area">
  <form>
    <label><input type="radio" name="dataset" value="apples" checked> Service A</label>
    <label><input type="radio" name="dataset" value="oranges"> Service B</label>
  </form>
</div>
<svg id="legend"></svg>