<style>
  .width {
    width: 600px;
  }

</style>
<div class="container width" style="margin-top: 8%; padding-left: 0; padding-right: 0; background: #e0e0e0">

  <div class="card">
    <div class="card-body">
      <form class="form-signin">
        <h2 class="layout-header-title">Password Recovery</h2>

        <div class="row" style="margin-top:30px;">
          <div class="col-sm-2">
            <label for="inputEmail" class="input-field-label" style="width: 100px;">Email</label>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              {{input type="text" id="inputEmail" class="input-field" placeholder="Enter User Email"  value=email
                      style="width: 100px;"}}
            </div>
          </div>
          <div class="col-sm-4">
            <button class="nges-button nges-button-success" {{action 'sendCodeRequest'
                                                                     email}}>Send Request For Code
            </button>
          </div>

        </div>

        {{#if appearCodeField}}
          <h2 style="font-size:13px;">A code is sent to this email. Please enter the code below.</h2>
          <div class="row">
            <div class="col-sm-2">
              <label for="inputEmail" class="input-field-label" style="width: 100px;">Code</label>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                {{input type="text" id="inputCode" class="input-field" placeholder="Enter Code"  value=code
                        style="width: 100px;"}}
              </div>
            </div>
            <div class="col-sm-3">
              <button class="nges-button nges-button-success" style="width: 100px;" {{action 'sendReceivedCode'
                                                                                    code}}>Next
              </button>
            </div>
          </div>
        {{/if}}

      </form>
    </div>
  </div>


</div>

