<h1 align="center" style="margin-top: 20px;">Make and Test Resources</h1>



<div class="container" style="margin-top: 20px;">

  {{nges-elements/nges-common-grid


    serviceInformation = serviceInformation
    serviceActionableRoute = serviceActionableRoute


  }}
</div>
