/* customize tab table */

.tabTableHeader .nav-tabs {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.tabTableHeader .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $primary-color-selected !important;
  //background-color: $tab-title-bg;
  background: $primary-color-title-text !important;
  font-weight: bold;
  border: none !important;
  cursor: pointer;
}

.tabTableHeader .nav-tabs {
  background: $primary-color-main;
  color: $primary-color-text;
}

.tabTableHeader .nav-tabs .nav-link {
  border: none !important;
  cursor: pointer;
  font-weight: bold;
}

.tabTableHeader .table th, .table td {
  font-size: 12px;
}

.table-header-title {
  background-color: $primary-color-tab-table-title-background;
}



.table-header-select-box {
  background: $primary-color-main;
}

.table-header-title {
  color: $primary-color-tab-table-title-color;
  font-size: $ui-content-header-font-size;
}
