<style>
  .width {
    width: 400px;
  }

  .login-box {
    box-shadow: 0 0 10px -1px gray;
    margin-top: 100px;
    /* padding: 50 px;*/
  }

</style>
<div class="container width login-box " style="padding-left: 0; padding-right: 0; background: #e0e0e0">

  <div class="card">
    <div class="card-body">
      <form class="form-signin">
        <h2 class="layout-header-title">Update Password</h2>
        <h4 style="color:red; font-size:12px;">{{errorMsg}}</h4>
        <label for="inputPasswordOld" class="input-field-label" style="margin-top:20px;">Old Password</label>
        <div class="form-group">
          {{input type="password" id="inputPasswordOld" class="input-field" placeholder="Enter Old Password"
                  value=oldPassword}}
        </div>


        <label for="inputPasswordNew" class="input-field-label">New Password</label>
        <div class="form-group">
          {{input type="password" id="inputPasswordNew" class="input-field" placeholder="Enter New Password"
                  value=newPassword}}
        </div>


        <div class="form-check">
          <label class="input-field-label">
            <input type="checkbox" class="form-check-input" onclick="myFunction()" style="margin-top:3px;">Show Password
          </label>
        </div>

        <script>
          function myFunction() {
            var x = document.getElementById("inputPasswordNew");
            var y = document.getElementById("inputPasswordOld");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
            if (y.type === "password") {
              y.type = "text";
            } else {
              y.type = "password";
            }
          }
        </script>

        <button class="nges-button nges-button-success float-right"  {{action 'update' oldPassword newPassword}}  >
          Update
        </button>
        <br>
      </form>
    </div>
  </div>


</div>



