// common size
$ui-content-header-font-size: 11px;

$sidebar-size: 300px;
$headline-font-size: 11px;
$content-font-size: 11px;
$link-font-size: 12px;


//------------ theme 4 - Odoo Theme -----------------

// submenu
$sidebar-submenu-hover-color: #9d6991;
$sidebar-menu-title-color: #FFFFFF;
$sidebar-submenu-title-color: #FFFFFF;
$sidebar-submenu-start-space: 20px;


// main component
$primary-color-workspace: #F3F2F1;    // workspace panel
$primary-color-main: #74516a;         // background
$primary-color-foreground: #845978;   // foreground
$primary-color-selected: rgba(12, 222, 216, 0.92);     // active
$primary-color-text: #FFFFFF;            // font
$primary-color-hover: #373b42;        // hover
$primary-color-border: #7db5f5;       // border
$primary-color-title-text: #239996;   // layout header title



$primary-color-field-label: #666666;
$primary-color-field-background: #FAFAFA;
$primary-color-field-set-label: #343434;
$primary-color-title-line: #878786;   // header label line


// button
$primary-color-btn-text: #FFFFFF;
$primary-color-btn-success: #0C9F9C;
$primary-color-btn-success-hover: #0c827f;
$primary-color-btn-success-border: #0c827f;

$primary-color-btn-default: #d2d1d0;
$primary-color-btn-default-hover: #c6c5c4;
$primary-color-btn-default-border: #1a639e;


// instruction text
$primary-color-instruction-text: #865A7A;


// tab-table
$primary-color-tab-table-title-background: #f0f1ef;
$primary-color-tab-table-title-color:#000000;
//-------------------------------------------




