{{!nges-core/json tableData}}

<div class="card">

  <div class="card-body">
    <div class="nges-button nges-button-info" style="width: 100px;" {{action "newView"}}>
      New
    </div>
    <div class="nges-button nges-button-info" style="width: 100px;" {{action "searchView"}}>
      Search
    </div>
    <div class="nges-button nges-button-info" style="width: 100px;" {{action "gridView"}}>
      Grid
    </div>
  </div>
</div>