{{outlet}}



<!--<h1 style="text-align: center; margin-top: 200px">Selected panel-loader Main View Page</h1>-->


{{!nges-core/json model.appPanelInformation}}



{{#if (eq model.appPanelInformation.appPanelCode 'operation') }}

  <div class="card">
    <div class="card-body">
      <h2 class="layout-header-title">Dashboard</h2>
      <hr class="header-label-line">
      {{nges-base/app-panel-dashboard}}
    </div>
  </div>


{{/if}}

{{#if (eq model.appPanelInformation.appPanelCode 'admin-panel') }}

  <div class="card">
    <div class="card-body">
      <h2 class="layout-header-title">Dashboard</h2>
      <hr class="header-label-line">
      {{nges-base/app-panel-dashboard}}
    </div>
  </div>

{{/if}}






