// common size
$ui-content-header-font-size: 11px;

$sidebar-size: 300px;
$headline-font-size: 11px;
$content-font-size: 11px;
$link-font-size: 12px;


//------------ theme 1 - Mid Night Dark Theme -----------------

// submenu
$sidebar-submenu-hover-color: rgba(126, 129, 138, 0.65);
$sidebar-menu-title-color: #fff;
$sidebar-submenu-title-color: #ffff;
$sidebar-submenu-start-space: 20px;


// main component
$primary-color-main: #3F4148;         // background
$primary-color-foreground: #2f3239;   // foreground
$primary-color-selected: #15dc80;     // active
$primary-color-text: #fff;            // font
$primary-color-hover: #373b42;        // hover
$primary-color-border: #7db5f5;       // border
$primary-color-title-text: #353433;   // title



$primary-color-field-label: #666666;
$primary-color-field-background: #FAFAFA;
$primary-color-field-set-label: #343434;
$primary-color-title-line: #123F62;   // header label line


$primary-color-btn-text: #FFFFFF; // btn text
$primary-color-btn-success: #123F62;
$primary-color-btn-success-hover: #12466b;
$primary-color-btn-success-border: #123F62;
//-------------------------------------------






// Button Pack
//$primary-color-btn-text: #000000; // btn text
$primary-color-btn-default: #d2d1d0;
$primary-color-btn-default-hover: #c6c5c4;
$primary-color-btn-default-border: #1a639e;

















/*

// theme 1 -
$primary-color-main: #3c6382;           // background
$primary-color-foreground: #0a3d62;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border

*/

/*

// theme 1 -
$primary-color-main: #2065a1;           // background
$primary-color-foreground: #20538c;     // foreground
$primary-color-selected: #7db5f5;       // active
$primary-color-text: #fff;              // font
$primary-color-hover: #373b42;          // hover
$primary-color-border: #7db5f5;         // border


*/


